body{
    font-family: 'Poppins',sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.halfWidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
p{
    color: dimgray;
}
.halfWidth img{
    width: 100%;
}
.topBanner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
 height: 500px;
 padding-bottom: 100px;
}
.linkButton{
    text-decoration: none;
    background-image: linear-gradient(yellow,orange);
    
    padding : 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;  

}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
}
#redborder{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}
#blueborder{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 13px;
}